MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/MyApp/.vs
MyApp/credentials.txt
