MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
MyApp/.vs/MyApp/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/MyApp/.vs
MyApp/credentials.txt
make_your_life_easier/make_your_life_easier-cache/cacheIndex.txt
make_your_life_easier/make_your_life_easier-cache/part15/make_your_life_easier1.cab
make_your_life_easier/make_your_life_easier-cache/part15/output-info.ini
make_your_life_easier/make_your_life_easier-cache/part21/make_your_life_easier1.cab
make_your_life_easier/make_your_life_easier-cache/part21/output-info.ini
make_your_life_easier/make_your_life_easier.aip
/make_your_life_easier/make_your_life_easier-cache
/MyApp/bin
/MyApp/obj
/MyApp/obj/Debug
/MyApp/obj/Debug/net9.0-windows
