<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" version="134.0.6998.36"/>
	<package id="firefox" version="136.0.0"/>
	<package id="vcredist140" version="14.42.34438.20250221"/>
	<package id="chocolatey-compatibility.extension" version="1.0.0"/>
	<package id="python3" version="3.13.1"/>
	<package id="7zip.install" version="24.9.0"/>
	<package id="notepadplusplus.install" version="8.7.7"/>
	<package id="teamviewer" version="15.63.4"/>
	<package id="google-drive-file-stream" version="56.0.11.2022"/>
	<package id="git.install" version="2.48.1"/>
	<package id="ccleaner" version="6.33.11465"/>
	<package id="winrar" version="7.10.0"/>
	<package id="vscode" version="1.98.0"/>
	<package id="slack" version="4.42.120"/>
	<package id="filezilla" version="3.68.1"/>
	<package id="dropbox" version="219.4.4463"/>
	<package id="spotify" version="1.2.58.498"/>
	<package id="brave" version="1.75.181"/>
	<package id="itunes" version="12.13.5.3"/>
	<package id="ffmpeg" version="7.1.0"/>
	<package id="virtualbox" version="7.1.6"/>
	<package id="crystaldiskinfo" version="9.6.2"/>
	<package id="opera" version="117.0.5408.53"/>
	<package id="libreoffice-still" version="24.8.5"/>
	<package id="obs-studio.install" version="31.0.1"/>
	<package id="blender" version="4.3.2"/>
	<package id="samsung-magician" version="8.2.0.880"/>
	<package id="discord.install" version="1.0.9185"/>
	<package id="rufus" version="4.6.0"/>
	<package id="github-desktop" version="3.4.17"/>
	<package id="sublimetext3" version="3.2.2"/>
	<package id="cpu-z.install" version="2.14.0"/>
	<package id="steam" version="3.10.91.91241028"/>
	<package id="revo-uninstaller" version="2.4.5"/>
	<package id="chocolateypackageupdater" version="0.6.13.0"/>
	<package id="hwinfo" version="8.14.0"/>
	<package id="ccleaner.portable" version="6.31.0.11415"/>
	<package id="javaruntime-tiger" version="7.0.55"/>
	<package id="lightshot.install" version="5.5.0.720221014"/>
	<package id="epicgameslauncher" version="1.3.131"/>
	<package id="origin" version="10.5.129.55742"/>
	<package id="mp3tag" version="3.28.0"/>
	<package id="gdu" version="5.30.1"/>
	<package id="viber" version="18.8.0.4"/>
	<package id="gcloudsdk" version="512.0.0"/>
	<package id="geforce-experience" version="3.28.0.417"/>
	<package id="msiafterburner" version="4.6.5.230429"/>
	<package id="icloud" version="7.21.0.23"/>
	<package id="goggalaxy" version="2.0.77.22"/>
	<package id="figma" version="116.12.2"/>
	<package id="driverbooster" version="12.3.0.549"/>
	<package id="poweriso" version="9.0.0"/>
	<package id="vmwareworkstation" version="17.6.3.24583834"/>
	<package id="ventoy" version="1.1.5"/>
	<package id="lghub" version="2025.2.687008"/>
	<package id="ds4windows" version="3.3.3"/>
	<package id="teamspeak" version="3.6.2"/>
	<package id="vortex" version="1.10.7"/>
	<package id="resourcehacker.portable" version="5.2.7"/>
	<package id="sublimetext3.app" version="3.0.0.3065"/>
	<package id="spicetify-cli" version="2.39.5"/>
	<package id="du" version="1.62"/>
	<package id="rainmeter" version="4.5.21"/>
	<package id="coretemp" version="1.18.1"/>
	<package id="playnite" version="10.35.0"/>
	<package id="safari" version="5.1.7.2"/>
	<package id="iobit-uninstaller" version="14.2.0.2"/>
	<package id="cheatengine" version="7.5"/>
	<package id="rufus.install" version="3.13"/>
	<package id="minecraft-launcher" version="1.0.0.20241010"/>
	<package id="reshade" version="6.3.3"/>
	<package id="aida64-extreme" version="7.60.7300"/>
	<package id="wingetui" version="3.1.7"/>
	<package id="debugdiagnostic" version="2.2.0.14"/>
	<package id="makemeadmin" version="2.3"/>
	<package id="ntlite-free" version="2025.2.10293"/>
	<package id="rockstar-launcher" version="1.0.101.2370"/>
	<package id="stremio" version="4.4.168"/>
</packages>